body{

    background: #FEBB41;
    box-sizing: border-box;

}
button
{
    border:none;
    background:none;
    cursor:pointer;
}
.wrapper{
width: 1511px;
height: 886px;
border-radius:24px;
background: linear-gradient(305deg, #F4ECE1 57.1%, #FCFBF7 145.5%);
display:block;
margin:auto;
margin-top: 100px;
padding: 48px 87px;
.logo_button{
    color: #000;

font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 139.8%; /* 44.736px */
cursor:pointer;}
}
.nav
{
    display:inline-block;
}
.nav_elem{
    display:inline-block;
    color: #000;

font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 94.8%; /* 20.856px */
cursor:pointer;

}


.wrapper{
    background: green
}