*{
    margin: 0;
    border: none;
    background: none;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background: #FEBB41;
}
button{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.wrapper{
    width: 1511px;
    height: 886px;
    border-radius: 24px;
    background: linear-gradient(305deg, #fff 57.1%, #fcfbff);
    display: block;
    margin: auto;
    margin-top: 100px;
    padding:  48px 87px;
    padding-right: 65px;

}
.logo-button{
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.8%;
    cursor: pointer;
}
.nav{
    display: inline-block;
    margin-left: 110px;
}
.nav_elem{
    display: inline-block;
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.8%;
    cursor: pointer;
    margin-left: 56px;
}
.nav_elem_btn{
    font-weight: 400;
    font-size: 22px;
}
.search_input{
    width: 314px;
    height: 60px;
    padding-left: 41px;
    padding-right: 35px;
    border-radius: 30px;
    background: rgba(255, 249, 240, 0.10);
    box-shadow: 0px 12px 40px -16px rgba(0, 0, 0, 0.10);
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.8%;
    margin-left: 90px;
}